<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>HospitalManagementSystem</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>UserAuth</display-name>
    <servlet-name>UserAuth</servlet-name>
    <servlet-class>icsd.UserAuth</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserAuth</servlet-name>
    <url-pattern>/UserAuth</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserLoginAuth</display-name>
    <servlet-name>UserLoginAuth</servlet-name>
    <servlet-class>icsd.UserLoginAuth</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserLoginAuth</servlet-name>
    <url-pattern>/UserLoginAuth</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>abcd</display-name>
    <servlet-name>abcd</servlet-name>
    <servlet-class>icsd.abcd</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>abcd</servlet-name>
    <url-pattern>/abcd</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminLoginAuth</display-name>
    <servlet-name>AdminLoginAuth</servlet-name>
    <servlet-class>icsd.AdminLoginAuth</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminLoginAuth</servlet-name>
    <url-pattern>/AdminLoginAuth</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>adminIndex</display-name>
    <servlet-name>adminIndex</servlet-name>
    <servlet-class>icsd.adminIndex</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>adminIndex</servlet-name>
    <url-pattern>/adminIndex</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminLogout</display-name>
    <servlet-name>AdminLogout</servlet-name>
    <servlet-class>icsd.AdminLogout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminLogout</servlet-name>
    <url-pattern>/AdminLogout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserLogout</display-name>
    <servlet-name>UserLogout</servlet-name>
    <servlet-class>icsd.UserLogout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserLogout</servlet-name>
    <url-pattern>/UserLogout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddSpecialist</display-name>
    <servlet-name>AddSpecialist</servlet-name>
    <servlet-class>icsd.AddSpecialist</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddSpecialist</servlet-name>
    <url-pattern>/AddSpecialist</url-pattern>
  </servlet-mapping>
</web-app>